.atlas
	position relative
	box-sizing border-box
	overflow visible
	transform-origin 0 0
	.atlas__background
		position absolute
		background-color #f8f8f8
	.node
		position absolute
		box-sizing border-box
		overflow hidden
		color #ffffff
		.node__content
			display block
			transform-origin 0 0
