.atlas
	position relative
	box-sizing border-box
	overflow visible
	transform-origin 0 0
	.node
		position absolute
		box-sizing border-box
		overflow hidden
		&.green
			background-color #66ff66
		.node__content
			display block
			transform-origin 0 0
